@model Department


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form method="post" >  
        ID<input asp-for="ID" />
        NAME<input asp-for="Name" />
        CAPACITY<input asp-for="Capacity" />
        <input type="submit" value="Add"/>
    </form>
</body>
</html>
