@model Department


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1 class="alert-danger"> ID= @Model.ID</h1>
    <h1 class="alert-info"> Name= @Model.Name</h1>
    <h1 class="alert-dark"> Capacity= @Model.Capacity</h1>
</body>
</html>
