@model Student
@{
    ViewBag.Title = "Edit";
}


    <form method="post">
        <input asp-for="Id" hidden />
        NAME<input asp-for="Name" />
        AGE <input asp-for="Age" />
        Email <input asp-for="Email" />
        Password <input asp-for="Password" />
    Department <select asp-for="deptId" asp-items="ViewBag.depts">

                </select>
        <input type="submit" value="Update" />
    </form>


